
  <div class="col-md-12">
   <div class="row box">
     <div class="jumbotron">
     <h1 class="title">一款能赚钱的MPOS</h1>
     <p class="slogan">乐富支付有限公司，是经中国人民银行认可并颁发了《支付业务许可证》的国内优秀第三方支付公司。
     <br>
     MPOS是乐富支付旗下推出的一款移动收款设备！
     <br>
      使用此设备可以达到别人刷卡你赚钱！
     </p>
   </div>
   </div>
 </div>

 <section id="company">
   <div class = "container-fluid">
     <div class="row">
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="http://ww3.sinaimg.cn/large/006tNc79gy1fg76gfawfej30ek08r3ym.jpg" alt="search" class = "img-thumbnail">
           <div class="caption">
             <h3>拥有第三方支付牌照正规一清机保证资金安全</h3>
           </div>
         </div>
       </div>
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="http://ww3.sinaimg.cn/large/006tNc79gy1fg76ghqykqj30eg08nwej.jpg" alt="bid" class = "img-thumbnail">
           <div class="caption">
             <h3>完善的服务体系卓越的产品品质广受用户信赖</h3>
           </div>
         </div>
       </div>
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="http://ww3.sinaimg.cn/large/006tNc79gy1fg76gjw9nbj30ej08pq32.jpg" alt="heart" class = "img-thumbnail">
           <div class="caption">
             <h3>注册开通急速入网只需身份证和银行卡可申请</h3>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>


 <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">乐富支付MPOS的优势</h2>
        <P>  银联认证 银联卡检测中心、银联受理终端双重认证</p>
          <p>  一清正品 国家颁发银联支付牌照</p>
            <p>蓝牙适配 适用所有主流智能手机和PAD终端</p>
            <p>注册简单 无需来回奔波，注册即可使用</p>
            <p>极速到账 即刷即到，资金使用更便捷</p>
            <p>到账模式 D+0、T+1两种到账模式，灵活选择</p>
            <p>费率最低 0.55%+3元/笔，刷卡资金秒到</P>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'http://ww4.sinaimg.cn/large/006tNc79gy1fg76gm6adej30eh0d3q79.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">i刷乐富支付MPOS特点</h2>
                      <p>无节假日 365天秒到账，费率低额度高</p>
                        <p>极速到账，分秒必达；适用所有主流智能手机和PAD终端</p>
                      <p>  多元消费， 告别穿越</p>
                      <p>  3000个商户滚动切换，GPS落地商户。刷卡不限额、1秒到账。</p>
                      <p>  能在线申请信用卡</p>
                      <p>  缺钱您就来，轻松信贷任您申请</p>
                      <p>  支持 所有银联标识的卡种</p>
                      <p>  金融IC、磁条卡，支持有卡支付、无卡支付、NFC支付三种方式</p>
                      <p>  正规一清安全稳定
                      <p>  拥有银行颁发支付业务许可证，安全合规，到账稳定。</p>

        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'http://ww2.sinaimg.cn/large/006tNc79gy1fg77cv8ak7j30dw0dwwif.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">乐富支付MPOS使用说明</h2>
         <P> 支持带银联标识的借记卡，信用卡，借记卡，磁条卡，芯片卡都支持，不受地域限制</p>
          <P> 扫码收款新体验  覆盖主流支付平台无需辅助设备，APP内扫码收款， 支持微信、支付宝、QQ钱包等几大主流支付平台</p>
          <P> NFC挥手支付，全面受理applepay/京东白条内置NFC非接触式无线通讯技术模块，支持Apple Pay、银联QuickPass交易及各类NFC电子支付</p>
          <P> 365天，天天秒到账，早8晚10周末节假日正常结算，365天天天秒到账， 早8到晚10</p>
          <P> 小票名称和信用卡账单一致</P>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'http://ww3.sinaimg.cn/large/006tNc79gy1fg78noh04uj30rs0n3gmm.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
